@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/*-------------------전체 공통----------------------*/
*{
    padding: 0;
    margin: 0;
    
}
ul li{
    list-style: none;
}
.clear{
    clear: both;
}
.wrap{
    width: 100%;
    margin: 0 auto;
}
.inner{
    width:1200px; /*80%*/
    margin: 0 auto;
}
a {text-decoration: none; color: inherit;}

.click_link{color: #89b347;}

/*-------------------헤더 부분----------------------*/
header{
    width:100%;
    height: 104px;
}
.second_1 .logo{
    /* padding-left:362px; */
    float: left;
    /*width:20%;
    height:45px;*/
}
.first{
    padding-top:7px;
    background-color: #dce7d1;
    height:25px;
}
.second{
    height:79px;
    background-color: #e7f6da;
}
.first_1 {float:right;}
.first_1 li{
    float: left;
    padding-left:15px;
    color:#5d7648;
    font-size:14px;
    font-family: 'Pretendard-Regular';
}
.first_1 li:nth-child(3) {padding-right:365px;}


/*---------------네비 부분----------------------*/

/*네비 공통 디자인*/
.second_1{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.depth1{
    position: absolute;
    width: 750px;
    right: 72px;
}
.navi .depth1>li{
    float: left;
    width: 20%;
}
.navi .depth1>li>a{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0;
}
.navi .depth1::before{
    display: block;
    content: "";
    clear: both;
}
.navi .depth1>li>ul::before{
    display: block;
    content: "";
    height: 10px;
}
/*네비 1*/

.second .depth1>li{
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    padding-top:15px;
    float: left;
    font-weight: bold;
    color:#142406;
    letter-spacing: 0.2em; 
}
.list {width:230px;}
.second .list>li {
    font-family:  'Pretendard-Regular';
    font-size: 15px;
    padding-top:20px;
    color:#4c6139;
    letter-spacing: 0.2em; 
}
.list>li:hover {color:#232d1a;}
#nav1 .depth1 ul{
    padding: 0 10px;
    background-color: #e7f6da;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 1s, opacity 1s;
}
#nav1 .depth1>li:hover ul{
    height: 300px;
    opacity: 1;
}
#nav1 .depth1{
    z-index: 99;
}

/*-----------------메인 부분------------------------*/
.mainimg{
    width: 100%;
    /* height: 552px; */
    position: relative;
}
.mainimg>div>ul{
    width: 100%;
    overflow: hidden;
}
.btn1 {position: absolute; top: 40%; left: 18%;}
.btn2 {position: absolute; top: 40%; right: 18%;}
.notice {position: absolute; top: 15%; right: 25%; background-color:#194413; width:402px; height:300px; opacity:80%;}
.notice p {color:#fff; padding-left:35px;}
.notice p a:hover {color:#d1f6b5;}
.notice p:nth-child(1) {padding-top:40px; font-size:20px; font-family: 'Pretendard-Regular'; letter-spacing: 0.2em;}
.notice p:nth-child(2) {padding-top:18px; font-size:36px; font-family:'Cafe24SsurroundAir'; font-weight:bold; line-height:1.0em;}
.notice p:nth-child(3) {padding-top:15px; font-size:16px; line-height:1.6em; font-family: 'Pretendard-Regular'; letter-spacing: 0.2em;}
.notice p:nth-child(4) a {display: block; padding-top:25px; font-size:13px; font-family: 'Pretendard-Regular'; letter-spacing: 0.2em;}
.notice .no_1 {display: inline-block; width:180px; height:22px; background-color: #fff; color:#0d3406; text-align: center; margin-left:20px; font-size:18px;}
.search {width:100%; height:75px; background-color: #001603; opacity:70%; position:absolute; bottom: 0;}
.se_bar > div {float:left; color:#fff; font-weight:bold; margin-right:1.5% ;}
.se_bar > div > input{margin-top: 5px;}
.se_bar{width:1200px; margin:0 auto; padding-top:10px;}
.lin{width: 1px; height: 35px;background-color: #fff; margin: 10px 20px 0 20px}
.cho{background-color: inherit; color: #fff; padding: 5px;margin-top: 5px; border: #fff 1px solid;}
.cho>option{color: #000;}
.cho>option:nth-child(1){color:#aaa;}
.se_bar .procode {border: #fff 1px solid;color: #fff; background-color: inherit; padding: 15px 50px 10px 20px ;margin-top: 10px; }
.title>select{background-color: inherit; }
.checkin>input {background-color: inherit; color: #fff; border: #fff 1px solid; padding: 3px; margin-top: 3px;}
.checkout>input {background-color: inherit; color: #fff; border: #fff 1px solid; padding: 3px; margin-top: 3px;}
.room {background-color: inherit; color: #fff; border: #fff 1px solid; padding: 5px; margin-top: 5px;}
.adult {background-color: inherit; color: #fff; border: #fff 1px solid; padding: 5px; margin-top: 5px;}
.child {background-color: inherit; color: #fff; border: #fff 1px solid; padding: 5px; margin-top: 5px;}
.se_bar .search_but{float: right; margin-right: 0;}
.se_bar .search_but>input{cursor: pointer; margin-top: 10px; padding: 11px 20px; border: #fff 1px solid; background-color: inherit; color: #fff;}
.se_bar .search_but>input:hover {background-color:#89b347;}

/*.reserve {width:100%; height:75px; background-color: #001603; opacity:70%; position:absolute; bottom: 0;}
.re_bar {width:1200px; margin:0 auto;}
.re_bar > div {float:left; color:#fff; font-weight:bold;}
.bar1 {font-size:15px; padding-top:10px;}
.bar2 {font-size:18px; padding-top:12px;}
.bar2 p {padding-right:65px;}
.code p{font-size:18px; padding-top:25px; padding-left:35px;}
.tool {border: 3px solid #fff; width:150px; height:50px; margin-top:10px; margin-left:32px;}
.tool p{font-size:18px; padding-top:12px; text-align:center;}*/

/*-----------------콘텐츠 부분----------------------*/
.content1_0 {width: 100%;}
h1 {text-align: center; padding-top:42px; padding-bottom:68px;
    font-size:52px; letter-spacing: 0.2em; 
    color:#659d72; font-family: 'yg-jalnan'; }
.content1 {width: 1200px;  margin: 0 auto; padding-bottom: 50px;}  
/*.content1::after, .content1::before{content: ""; display: block; clear: both;}*/           
.content1 > div {/*float:left; height: 350px; width: 23%;*/}
.content1 .con1 a{width: 282px;height: 176px; overflow: hidden; display: block; }
.content1 .con1  a img{transition: 0.5s; width: 100%;}
/*.content1 .con1:hover a img{width: 110%;}*/
.content1 div a:hover img{width: 110%;}
/*.content1 > div:nth-child(5) {padding-top:30px;}
.content1 > div:nth-child(6) {padding-top:30px;}
.content1 > div:nth-child(7) {padding-top:30px;}
.content1 > div:nth-child(8) {padding-top:30px;}*/

/*.content1 > div:nth-child(2) {margin-left: 2.5%;}
.content1 > div:nth-child(3) {margin-left: 2.5%; }
.content1 > div:nth-child(4) {margin-left: 2.9%; }
.content1 > div:nth-child(5) {padding-top:30px; }
.content1 > div:nth-child(6) {margin-left: 2.5%; padding-top:30px;}
.content1 > div:nth-child(7) {margin-left: 2.5%; padding-top:30px; }
.content1 > div:nth-child(8) {margin-left: 2.9%; padding-top:30px;}*/


.slick-slide{ margin: 0 9px;}
.slick-slide>div{ margin:0 0 50px 0;}


.content1 h4{color:#043112; font-size:20px; font-family: 'Cafe24Ssurround';
letter-spacing: 0.1em; padding-top:20px;}
.content1 h5{color:#043112;  font-size:17px; 
    font-family: 'Cafe24SsurroundAir'; }
.content1 .line {border:1px solid #011006; width:280px; margin-top:10px; margin-bottom:10px;}
.content1 .click {width:100px; height:40px; background-color: #9fbf88; margin-top:30px;}
.content1 .click:hover {background-color: #687f58 ;}
.content1 p { text-align: center; color:#ffffff; padding-top:10px; font-family: 'yg-jalnan';
         font-size:13px;}   
.content1 > line{border:2px solid #011006;}
.con2_1{position: relative;}
.con2_1 > a:hover p{color:#89b347;}
.con2_1 p {position: absolute; top: 19%; right: 20%; color:#fff; font-size:24px;
    font-family: 'Pretendard-Regular';}
.con2_2{position: relative;}
.con2_2 > a:hover p{color:#89b347;}
.con2_2 p {position: absolute; top: 19%; left: 10%; color:#565d48; font-size:24px; font-family: 'Pretendard-Regular';}
.con2_plus1 {font-size:45px; font-weight:bold; padding-left:15px; font-family: 'Pretendard-Regular';}
.con2_plus2 {font-size:45px; font-weight:bold; padding-left:50px; font-family: 'Pretendard-Regular';}
/*.btn3{ text-align: center; margin: 0 20px;}
.btn3 span{display:inline-block; margin-right: 15px;
    width: 12px; height:12px; 
    border-radius: 50%;
    border: 1px solid #164825;}
.btn3 .circle {background-color:#164825;}*/    
.content2 {background-color: #ecf4e6; height:202px; margin-top:100px; margin-bottom:60px;}
.content2 .inner{margin:0 auto;}
.content2 .inner>div {float:left; margin-top:30px;}
.content2 .inner>div:nth-child(1) {padding-right:27px;}
/*.content2 > img{padding-top:30px; margin-right:23px;}*/
.content3_0 {width: 100%;}
.content3 {width: 1200px;  margin: 0 auto;}  
/*.content3::after, .content3::before{content: ""; display: block; clear: both;}*/  
.content3 > div {/*float:left; height: 360px; width: 30%;*/ text-align: center;}
.content3 > div a{height: 215px; overflow: hidden; display: block; }
.content3 > div a img{transition: 0.5s; width: 100%;}
/*.content3 > div:hover a img{width: 110%;}*/
.content3 div a:hover img{width: 110%;}
/*.content3 > div:nth-child(2) {margin:0 4%;}*/

.content3 p {color:#89b347; font-size:28px;  padding-top:20px; font-family: 'Cafe24SsurroundAir';}
.content3 h4 {color:#575a46; font-size:20px; 
    font-family: 'Pretendard-Regular'; padding-top:10px; font-weight:bold;}
.content3 h5 {color:#3bb646; font-size:15px; font-family: 'Pretendard-Regular'; font-weight:inherit; padding-top:15px; padding-bottom:20px;}
/*.btn4{ text-align: center; margin: 0 20px; padding-top:60px;}
.btn4 span{display:inline-block; margin-right: 15px;
    width: 12px; height:12px; 
    border-radius: 50%;
    border: 1px solid #164825;}
.btn4 .circle {background-color:#164825;} */ 

.content4_0 {width: 1200px; height: 950px; padding-top:80px; padding-bottom:30px;margin: 0 auto;}
.content4_0 h4 {float:right; font-size:20px; font-family: 'Pretendard-Regular';  color:#5bb9a2; letter-spacing: 0.2em;}
.content4_0 .plus {font-size:28px; font-weight:bold;}
.content4 {display:block; width:1200px; margin:0 auto; margin-top:60px; }
.content4::after, .content4::before{content: ""; clear: both; display: block;}  
.content4 > div {float:left;}
.content4 .box1_2 {padding-top:15px;}
.content4 .box1_2 img:nth-child(1) {padding-right:27px;}
.content4 .box2 { padding-left:29px;}
.content4 .box2_1 {padding-bottom:24px;}

.con4_ga{position: relative; width: 100%;}
.popup-st{text-align: center; width: 100%; height: 670px; 
    position: absolute; top: 0; background-color: rgba(0,0,0,0.3); display: none;}
/* { left: 200px; } */

.box1_1-up > img{padding-top:50px; width:90%;}
.box2_1-up > img{padding-top:50px; width:90%;}
.box2_2-up > img{padding-top:50px; width:90%; }
.box1_2-up > img{padding-top:50px; width:90%; }
.box1_3-up > img{padding-top:50px; width:90%; }

.content5_0 {width:100%; height:200px; background-color: #ecf4e6;}
.content5 {width:1120px; margin:0 auto; padding-top:75px;}
.label{padding-left:20px; padding-right:28px; font-family: 'Pretendard-Regular'; font-size:24px; color:#3b3c34; font-weight: bold;}
.input_1{height:48px; width:650px;}
.input_2{height:43px; width:150px; background-color: #3b3c34; color:#fff; font-size:18px; margin-left:8px; font-family: 'Pretendard-Regular';}
.input_2:hover {background-color:#2c2925;}


/*.content5 > div {float:left;}
.content5 > div:nth-child(1) {padding-top:95px; font-family:'Gulim'; font-size:24px; color:#3b3c34; font-weight: bold;}
.content5 > div:nth-child(2) {border:1px solid #3b3c34; background-color: #fff; margin-top:75px; margin-left:45px; width:650px; height:57px;}
.content5 > div:nth-child(3) {background-color: #3b3c34; margin-top:75px; margin-left:14px; width:189px; height:60px; text-align: center; color:#fff;}
.content5 > div:nth-child(2) p {color:#3b3c34; font-size: 18px; font-family:'Gulim'; padding-left:20px; padding-top:20px;}
.content5 > div:nth-child(3) p {color:#fff; font-size:25px; font-family:'Gulim'; padding-top:13px;}*/

/*-----------------푸터 부분----------------------*/
.f_1{background-color: #e5e5e5; height:70px; }
.f_11 {width:1200px; margin: 0 auto;}
.f_11 .logo{padding-top:17px;}
.f_11 > div {float:left;}
.f_11 .write {padding-top:23px; padding-left:60px; font-family: 'Pretendard-Regular';}
.write_left:hover {color:#42413f;}
.write_right:hover {color:#42413f;}
.write_left{padding-right: 48px; font-size:20px; color: #838484;}
.write_right{padding-right: 48px; font-size:20px; color: #838484;}
.ag>div{float:left; padding-top:22px;}
.ag{font-family: 'Pretendard-Regular';}
.ag_left:{padding-right:20px; font-size:18px;  color: #042318;
    font-family: 'Pretendard-Regular';}
.ag_right{padding-left:10px; font-size:17px; color: #042318;
    font-family: 'Pretendard-Regular';}
.app {padding-top:24px; padding-left:160px;}
.f_2 {width:1200px; height:138px; margin:0 auto;}
.f_2 .foot {color:#4c3406;}
.f_2 p:nth-child(1) {padding-top:15px; padding-bottom:27px; font-size:19px; font-weight:inherit;  font-family: 'Pretendard-Regular'; letter-spacing: 0.1em; }
.f_2 p:nth-child(2) {font-size:16px; font-family: 'Pretendard-Regular'; font-weight:inherit; letter-spacing: 0.1em; }
.sns {padding-left:330px;}
.footer .foot {color:#4c3406;}


@media(max-width:680px){

    .search {display:none;}
    .second {display:none;}
    
    }